@page
@model Fresh_Farm_Market.Pages.Account.TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-Factor Authentication";
}

<h2>@ViewData["Title"]</h2>

<p>Two-Factor Authentication has been enabled successfully.</p>
